body{
  background: #f2f8f9;
}
ul,li,p{
  margin: 0;
  padding: 0;
  list-style: none
}
h1{
  font-size: 1.5rem;
  margin: 0;
}
label{
  margin: 0
}
a{
  text-decoration: none;
  color: #4a4a4a;
  display: block
}
.bold{
  font-weight: bold
}
.flex{
  display: flex;
}
.flex-jcfs{
  display: flex;
  justify-content: flex-start;
  align-content: center
}
.flex-jcsb{
  display: flex;
  justify-content: space-between;
  align-content: center
}
.sidebar{
  background-color: #fff;
  width: 255px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}
.sidebar .logo{
  font-size: 22px;
  padding: 1.5rem 0 0.4rem;
  text-align: center;
  font-weight: bold;
}
.sidebar > p{
  font-size: 14px;
  text-align: center;
  color: #adb5bd
}
.menu{
  margin-top: 1rem;
}
.nav-item{  
  color: #4a4a4a;
  transition: all 0.5s
}
.nav-item:hover,
.nav-item:hover .nav-link{
  background: #f7f7f9;
  color: #4a4a4a
}
.nav-link{
  padding: 15px 35px;
  font-size: 15px;
  vertical-align: middle;
  font-weight: 500
}
.nav-link:focus{
  /* color: #308ee0; */
  background: #f7f7f9;
}
.nav-link i{
  margin-right: 1rem; 
}
.icon-grid{
  color: #11cdef
}
.icon-bag{
  color: #5e72e4
}
.icon-docs{
  color: #fb6340
}
.icon-wallet{
  color: #2dce89
}
.icon-user{
  color: #f5365c
}
.body{
  flex: 1;
  margin-left: 255px;
  padding: 1.7rem;
}
/* form-field */
.card{
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
  background-color: #fff;
  border-radius: 6px;
  border: none;
}
.card-header{
  background-color: transparent;
  padding: 1.25rem 1.5rem;
  border: none;
}
.table{
  color: #8898aa;
}
.table thead th{
  background-color: #f6f9fc;
  border-bottom: solid 1px #f2f2f2;
  font-size: 14px;
}
.table th,
.table td{
  border-top: solid 1px #f2f2f2;
  font-size: 14px;
  padding: 1rem 1.5rem;
  vertical-align: middle;
}
.table td{
  color: #525f7f;
}
.btn {
  font-size: .75rem;
  position: relative;
  transition: all .2s ease;
  letter-spacing: .025em;
  text-transform: none;
  will-change: transform;
  border-color: transparent;
  margin: 0 0.4em;
}
.btn:active,
.btn:focus{
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50,50,93,.1),
              0 3px 6px rgba(0,0,0,.08);
  border-color: transparent;
}
.btn-primary {
  color: #fff;
  background-color: #5e72e4;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 
              0 1px 3px rgba(0,0,0,.08);
}
.btn-primary:hover {
  color: #fff;
  background-color: #5e72e4;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
              0 1px 3px rgba(0, 0, 0, .08),
              0 0 0 0 rgba(94, 114, 228, .5)
}

.btn-primary:active {
  color: #fff;
  background-color: #5e72e4 !important
}

.btn-secondary {
  color: #212529;
  background-color: #f7fafc;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-secondary:hover {
  color: #212529;
  background-color: #f7fafc
}
.btn-secondary:active {
  color: #212529 !important;
  background-color: #f7fafc !important
}

.btn-success {
  color: #fff;
  background-color: #2dce89;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08)
}
.btn-success:hover {
  color: #fff;
  background-color: #2dce89
}
.btn-success:active {
  color: #fff;
  background-color: #24a46d !important
}
.top-btn > .add,
.icon-plus{
  color: #5e72e4;
}
.top-btn > .add:hover{
  color: #5e72e4;
}
.top-btn > .refresh,
.icon-reload{
  color: #2dce89;
}
.top-btn > .refresh:hover{
  color: #2dce89;
}
.pagination{
  margin-left: 2rem;
}
.page-item .page-link, .page-item span{
  font-size: .875rem;
  display: flex;
  width: 36px;
  height: 36px;
  margin: 0 3px;
  padding: 0;
  border-radius: 50%!important;
  align-items: center;
  justify-content: center;
}
.page-link{
  line-height: 1.25;
  color: #8898aa;
  border: 1px solid #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  border-color: #5e72e4;
  background-color: #5e72e4;
}

/* create-form */
.create-form{
  padding: 1.25rem 1.5rem;
}
.col-form-label{
  font-size: 0.875rem;
  font-weight: 600;
  color: #525f7f
}
.form-control{
  font-size: .875rem;
  transition: all .15s ease-in-out;
  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  box-shadow: 0 3px 2px rgba(233,236,239,.05);
}
.form-control:focus {
  color: #8898aa;
  border-color: #5e72e4;
  outline: 0;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(50, 50, 9, 0), 3px 4px 8px rgba(94, 114, 228, .1)
}
.form-control::placeholder {
  opacity: 1;
  color: #adb5bd
}
.view-label{
  color: #8898aa;
  font-size: 15px;
}
.view-form li{
  border-bottom: 1px solid #e9ecef;
  padding: 1rem 0;
}
.view-label p{
  margin-left: 1em;
}
.view-btn{
  margin-top: 1rem;
}